
@media only screen and (min-width: 768px) and (max-width: 1023px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\0000353}}
  .hide-at-mobile {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\0000353}}
  .hide-at-mobile {
    display: none;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\0000359}}
.show-at-mobile {
  /*@include at_page_width(1) { display: none; }
  @include at_page_width(2) { display: none; }
  @include at_page_width(3) { display: inherit; }
  @include at_page_width(4) { display: inherit; }*/
}
@media only screen and (min-width: 1025px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\0000359}}
  .show-at-mobile {
    display: none;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1259px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\0000359}}
  .show-at-mobile {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\0000359}}
  .show-at-mobile {
    display: inherit;
  }
}
@media only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\0000359}}
  .show-at-mobile {
    display: inherit;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003103}}
.one-twelfth {
  width: 8.33333%;
  border-left-width: 0;
  padding: 2%;
  float: left;
  margin: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003104}}
.one-tenth {
  width: 10%;
  border-left-width: 0;
  padding: 2%;
  float: left;
  margin: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003105}}
.one-sixth {
  width: 16.66667%;
  border-left-width: 0;
  padding: 2%;
  float: left;
  margin: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003106}}
.one-fifth {
  width: 20%;
  border-left-width: 0;
  padding: 2%;
  float: left;
  margin: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003107}}
.one-fourth {
  width: 25%;
  border-left-width: 0;
  padding: 2%;
  float: left;
  margin: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003108}}
.four-fifteenths {
  width: 26.66667%;
  border-left-width: 0;
  padding: 2%;
  float: left;
  margin: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003109}}
.three-tenths {
  width: 30%;
  border-left-width: 0;
  padding: 2%;
  float: left;
  margin: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003110}}
.one-third {
  width: 33.33333%;
  border-left-width: 0;
  padding: 2%;
  float: left;
  margin: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003111}}
.two-fifths {
  width: 40%;
  border-left-width: 0;
  padding: 2%;
  float: left;
  margin: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003112}}
.five-twelfths {
  width: 41.66667%;
  border-left-width: 0;
  padding: 2%;
  float: left;
  margin: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003113}}
.one-half {
  width: 50%;
  border-left-width: 0;
  padding: 2%;
  float: left;
  margin: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003114}}
.seven-twelfths {
  width: 58.33333%;
  border-left-width: 0;
  padding: 2%;
  float: left;
  margin: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003115}}
.three-fifths {
  width: 60%;
  border-left-width: 0;
  padding: 2%;
  float: left;
  margin: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003116}}
.two-thirds {
  width: 66.66667%;
  border-left-width: 0;
  padding: 2%;
  float: left;
  margin: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003117}}
.seven-tenths {
  width: 70%;
  border-left-width: 0;
  padding: 2%;
  float: left;
  margin: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003118}}
.three-fourths {
  width: 75%;
  border-left-width: 0;
  padding: 2%;
  float: left;
  margin: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003119}}
.four-fifths {
  width: 80%;
  border-left-width: 0;
  padding: 2%;
  float: left;
  margin: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003120}}
.five-sixths {
  width: 83.33333%;
  border-left-width: 0;
  padding: 2%;
  float: left;
  margin: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003121}}
.nine-tenths {
  width: 90%;
  border-left-width: 0;
  padding: 2%;
  float: left;
  margin: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003122}}
.eleven-twelfths {
  width: 91.66667%;
  border-left-width: 0;
  padding: 2%;
  float: left;
  margin: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003123}}
.one {
  width: 100%;
  border-left-width: 0;
  padding: 2%;
  float: left;
  margin: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003124}}
.full-width {
  width: 100%;
  border-left-width: 0;
  padding: 2%;
  float: left;
  margin: 0 0 0 0;
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-twelfth .one-twelfth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-twelfth .one-tenth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-twelfth .one-sixth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-twelfth .one-fifth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-twelfth .one-fourth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-twelfth .three-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-twelfth .one-third {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-twelfth .two-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-twelfth .five-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-twelfth .one-half {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-twelfth .seven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-twelfth .three-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-twelfth .two-thirds {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-twelfth .seven-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-twelfth .three-fourths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-twelfth .four-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-twelfth .five-sixths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-twelfth .nine-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-twelfth .eleven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-tenth .one-twelfth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-tenth .one-tenth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-tenth .one-sixth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-tenth .one-fifth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-tenth .one-fourth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-tenth .three-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-tenth .one-third {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-tenth .two-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-tenth .five-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-tenth .one-half {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-tenth .seven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-tenth .three-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-tenth .two-thirds {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-tenth .seven-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-tenth .three-fourths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-tenth .four-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-tenth .five-sixths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-tenth .nine-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-tenth .eleven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-sixth .one-twelfth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-sixth .one-tenth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-sixth .one-sixth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-sixth .one-fifth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-sixth .one-fourth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-sixth .three-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-sixth .one-third {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-sixth .two-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-sixth .five-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-sixth .one-half {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-sixth .seven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-sixth .three-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-sixth .two-thirds {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-sixth .seven-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-sixth .three-fourths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-sixth .four-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-sixth .five-sixths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-sixth .nine-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-sixth .eleven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fifth .one-twelfth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fifth .one-tenth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fifth .one-sixth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fifth .one-fifth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fifth .one-fourth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fifth .three-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fifth .one-third {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fifth .two-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fifth .five-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fifth .one-half {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fifth .seven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fifth .three-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fifth .two-thirds {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fifth .seven-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fifth .three-fourths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fifth .four-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fifth .five-sixths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fifth .nine-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fifth .eleven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fourth .one-twelfth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fourth .one-tenth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fourth .one-sixth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fourth .one-fifth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fourth .one-fourth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fourth .three-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fourth .one-third {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fourth .two-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fourth .five-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fourth .one-half {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fourth .seven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fourth .three-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fourth .two-thirds {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fourth .seven-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fourth .three-fourths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fourth .four-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fourth .five-sixths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fourth .nine-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-fourth .eleven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-tenths .one-twelfth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-tenths .one-tenth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-tenths .one-sixth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-tenths .one-fifth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-tenths .one-fourth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-tenths .three-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-tenths .one-third {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-tenths .two-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-tenths .five-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-tenths .one-half {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-tenths .seven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-tenths .three-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-tenths .two-thirds {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-tenths .seven-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-tenths .three-fourths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-tenths .four-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-tenths .five-sixths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-tenths .nine-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-tenths .eleven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-third .one-twelfth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-third .one-tenth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-third .one-sixth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-third .one-fifth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-third .one-fourth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-third .three-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-third .one-third {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-third .two-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-third .five-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-third .one-half {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-third .seven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-third .three-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-third .two-thirds {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-third .seven-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-third .three-fourths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-third .four-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-third .five-sixths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-third .nine-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-third .eleven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-fifths .one-twelfth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-fifths .one-tenth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-fifths .one-sixth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-fifths .one-fifth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-fifths .one-fourth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-fifths .three-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-fifths .one-third {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-fifths .two-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-fifths .five-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-fifths .one-half {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-fifths .seven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-fifths .three-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-fifths .two-thirds {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-fifths .seven-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-fifths .three-fourths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-fifths .four-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-fifths .five-sixths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-fifths .nine-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-fifths .eleven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-twelfths .one-twelfth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-twelfths .one-tenth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-twelfths .one-sixth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-twelfths .one-fifth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-twelfths .one-fourth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-twelfths .three-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-twelfths .one-third {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-twelfths .two-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-twelfths .five-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-twelfths .one-half {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-twelfths .seven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-twelfths .three-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-twelfths .two-thirds {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-twelfths .seven-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-twelfths .three-fourths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-twelfths .four-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-twelfths .five-sixths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-twelfths .nine-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-twelfths .eleven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-half .one-twelfth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-half .one-tenth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-half .one-sixth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-half .one-fifth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-half .one-fourth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-half .three-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-half .one-third {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-half .two-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-half .five-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-half .one-half {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-half .seven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-half .three-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-half .two-thirds {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-half .seven-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-half .three-fourths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-half .four-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-half .five-sixths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-half .nine-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .one-half .eleven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-twelfths .one-twelfth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-twelfths .one-tenth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-twelfths .one-sixth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-twelfths .one-fifth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-twelfths .one-fourth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-twelfths .three-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-twelfths .one-third {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-twelfths .two-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-twelfths .five-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-twelfths .one-half {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-twelfths .seven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-twelfths .three-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-twelfths .two-thirds {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-twelfths .seven-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-twelfths .three-fourths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-twelfths .four-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-twelfths .five-sixths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-twelfths .nine-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-twelfths .eleven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fifths .one-twelfth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fifths .one-tenth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fifths .one-sixth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fifths .one-fifth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fifths .one-fourth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fifths .three-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fifths .one-third {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fifths .two-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fifths .five-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fifths .one-half {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fifths .seven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fifths .three-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fifths .two-thirds {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fifths .seven-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fifths .three-fourths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fifths .four-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fifths .five-sixths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fifths .nine-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fifths .eleven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-thirds .one-twelfth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-thirds .one-tenth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-thirds .one-sixth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-thirds .one-fifth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-thirds .one-fourth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-thirds .three-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-thirds .one-third {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-thirds .two-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-thirds .five-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-thirds .one-half {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-thirds .seven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-thirds .three-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-thirds .two-thirds {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-thirds .seven-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-thirds .three-fourths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-thirds .four-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-thirds .five-sixths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-thirds .nine-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .two-thirds .eleven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-tenths .one-twelfth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-tenths .one-tenth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-tenths .one-sixth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-tenths .one-fifth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-tenths .one-fourth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-tenths .three-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-tenths .one-third {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-tenths .two-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-tenths .five-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-tenths .one-half {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-tenths .seven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-tenths .three-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-tenths .two-thirds {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-tenths .seven-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-tenths .three-fourths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-tenths .four-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-tenths .five-sixths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-tenths .nine-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .seven-tenths .eleven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fourths .one-twelfth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fourths .one-tenth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fourths .one-sixth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fourths .one-fifth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fourths .one-fourth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fourths .three-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fourths .one-third {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fourths .two-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fourths .five-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fourths .one-half {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fourths .seven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fourths .three-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fourths .two-thirds {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fourths .seven-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fourths .three-fourths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fourths .four-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fourths .five-sixths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fourths .nine-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .three-fourths .eleven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .four-fifths .one-twelfth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .four-fifths .one-tenth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .four-fifths .one-sixth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .four-fifths .one-fifth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .four-fifths .one-fourth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .four-fifths .three-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .four-fifths .one-third {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .four-fifths .two-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .four-fifths .five-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .four-fifths .one-half {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .four-fifths .seven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .four-fifths .three-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .four-fifths .two-thirds {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .four-fifths .seven-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .four-fifths .three-fourths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .four-fifths .four-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .four-fifths .five-sixths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .four-fifths .nine-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .four-fifths .eleven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-sixths .one-twelfth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-sixths .one-tenth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-sixths .one-sixth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-sixths .one-fifth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-sixths .one-fourth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-sixths .three-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-sixths .one-third {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-sixths .two-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-sixths .five-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-sixths .one-half {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-sixths .seven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-sixths .three-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-sixths .two-thirds {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-sixths .seven-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-sixths .three-fourths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-sixths .four-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-sixths .five-sixths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-sixths .nine-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .five-sixths .eleven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .nine-tenths .one-twelfth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .nine-tenths .one-tenth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .nine-tenths .one-sixth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .nine-tenths .one-fifth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .nine-tenths .one-fourth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .nine-tenths .three-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .nine-tenths .one-third {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .nine-tenths .two-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .nine-tenths .five-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .nine-tenths .one-half {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .nine-tenths .seven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .nine-tenths .three-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .nine-tenths .two-thirds {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .nine-tenths .seven-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .nine-tenths .three-fourths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .nine-tenths .four-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .nine-tenths .five-sixths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .nine-tenths .nine-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .nine-tenths .eleven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .eleven-twelfths .one-twelfth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .eleven-twelfths .one-tenth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .eleven-twelfths .one-sixth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .eleven-twelfths .one-fifth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .eleven-twelfths .one-fourth {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .eleven-twelfths .three-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .eleven-twelfths .one-third {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .eleven-twelfths .two-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .eleven-twelfths .five-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .eleven-twelfths .one-half {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .eleven-twelfths .seven-twelfths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .eleven-twelfths .three-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .eleven-twelfths .two-thirds {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .eleven-twelfths .seven-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .eleven-twelfths .three-fourths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .eleven-twelfths .four-fifths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .eleven-twelfths .five-sixths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .eleven-twelfths .nine-tenths {
    width: 100%;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003138}}
  .entry-content .eleven-twelfths .eleven-twelfths {
    width: 100%;
    padding: 2%;
  }
}
/* iPhones (portrait and landscape) ----------- */
@media only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003154}}
  .one-twelfth, .one-tenth, .one-sixth, .one-fifth, .one-fourth,
  .three-tenths, .one-third, .two-fifths, .five-twelfths, .one-half,
  .seven-twelfths, .three-fifths, .two-thirds, .seven-tenths, .three-fourths,
  .four-fifths, .five-sixths, .nine-tenths, .eleven-twelfths {
    width: 100%;
    border-left-width: 0;
    padding: 2%;
    float: left;
    margin: 0 0 0 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003165}}
.clear {
  clear: both;
  float: none;
  zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003170}}
.hidden {
  display: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003173}}
.center {
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003176}}
.nomar {
  margin: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AndrewLucas\/Desktop\/grid\/grid\.scss}line{font-family:\00003179}}
.nopadding {
  margin: 0px !important;
  padding: 0px !important;
}
